USE [master]
GO
/****** Object:  Database [IBANK]    Script Date: 21-12-2021 22:23:51 ******/
CREATE DATABASE [IBANK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IBANK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IBANK.mdf' , SIZE = 4352KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IBANK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IBANK_1.LDF' , SIZE = 5184KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IBANK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IBANK]
GO
/****** Object:  User [APPLE-PC\SSRSAdmin]    Script Date: 21-12-2021 22:23:51 ******/
CREATE USER [APPLE-PC\SSRSAdmin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [APPLE-PC\SSRSAdmin]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_GetCustBalance]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Example for Scalar Function
CREATE FUNCTION [dbo].[Fn_GetCustBalance] 
(
	@ACID INT
)
RETURNS MONEY
AS
BEGIN
	DECLARE @BAL  MONEY
	
		SELECT @BAL = CBAL
		FROM dbo.AMASTER
		WHERE ACID = @ACID 
	RETURN @BAL
END




GO
/****** Object:  UserDefinedFunction [dbo].[Fn_GetCustomers]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Example for Multi Statement Table Valued Function
CREATE FUNCTION [dbo].[Fn_GetCustomers]
(
	@ACID  INT	
)
RETURNS    @TMP    TABLE (	ACID		INT ,
							NAME	VARCHAR(100),
							BAL		MONEY
			           )
AS
BEGIN 
	INSERT INTO @TMP (ACID, NAME, BAL)
	
	SELECT ACID, NAME, CBAL
	FROM AMASTER  
	WHERE ACID = @ACID 
	
	RETURN

END



GO
/****** Object:  Table [dbo].[AMASTER]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AMASTER](
	[ACID] [int] NOT NULL,
	[NAME] [varchar](40) NOT NULL,
	[ADDRESS] [varchar](50) NOT NULL,
	[BRID] [char](3) NOT NULL,
	[PID] [char](2) NOT NULL,
	[DOO] [datetime] NOT NULL,
	[CBAL] [money] NULL,
	[UBAL] [money] NULL,
	[STATUS] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ACID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMASTER]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMASTER](
	[TNO] [int] IDENTITY(1,1) NOT NULL,
	[DOT] [datetime] NOT NULL,
	[ACID] [int] NOT NULL,
	[BRID] [char](3) NOT NULL,
	[TXNTYPE] [char](3) NOT NULL,
	[CHQNO] [int] NULL,
	[CHQDATE] [smalldatetime] NULL,
	[TXNAMT] [money] NOT NULL,
	[UID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_CTXNS]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_CTXNS]
AS SELECT AM.ACID
		 ,NAME
		 ,CBAL
		 ,AM.BRID
		 ,PID
		 ,DOT
		 ,TXNTYPE
		 ,TXNAMT
FROM AMASTER AS AM JOIN TMASTER TM
ON AM.ACID=TM.ACID
WHERE TXNTYPE='CD'
GO
/****** Object:  View [dbo].[V_V_CTXNSB]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_V_CTXNSB]
AS 
SELECT *
FROM V_CTXNS
WHERE PID ='SB'
GO
/****** Object:  View [dbo].[V_BR1CUST]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_BR1CUST]
	AS
	SELECT *
	FROM AMASTER
	WHERE BRID='BR1'
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_GetBranchCustomers]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Example for Inline Functions
CREATE FUNCTION [dbo].[Fn_GetBranchCustomers]
(
	@BRID CHAR(4)
)
RETURNS TABLE
AS
RETURN 
	(
		SELECT *
		FROM AMASTER
		WHERE BRID = @BRID
	)
GO
/****** Object:  View [dbo].[BANKDATA]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[BANKDATA]
AS
SELECT ACID,NAME,ADDRESS
FROM AMASTER
GO
/****** Object:  View [dbo].[PDBAL]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PDBAL]
AS
SELECT BRID,PID,SUM(UBAL) AS TOTAL
FROM AMASTER
GROUP BY BRID,PID  
GO
/****** Object:  View [dbo].[CUSTACUNTS]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CUSTACUNTS]
AS                 
SELECT NAME,COUNT(*) AS NOOFACUNT
FROM AMASTER
GROUP BY NAME
GO
/****** Object:  View [dbo].[V_SUMOFTXNAMT]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_SUMOFTXNAMT]
AS
SELECT ACID,TXNTYPE,SUM(TXNAMT) AS CURRENTTXN
FROM TMASTER
WHERE DATEPART(MM,DOT)=GETDATE()
GROUP BY TXNTYPE,ACID
GO
/****** Object:  Table [dbo].[BRMASTER]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRMASTER](
	[BRID] [char](3) NOT NULL,
	[BRNAME] [varchar](30) NOT NULL,
	[BRADD] [varchar](50) NOT NULL,
	[RID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HIGH_TMASTER]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIGH_TMASTER](
	[TNO] [int] IDENTITY(1,1) NOT NULL,
	[DOT] [datetime] NOT NULL,
	[ACID] [int] NOT NULL,
	[BRID] [char](3) NOT NULL,
	[TXNTYPE] [char](3) NOT NULL,
	[CHQNO] [int] NULL,
	[CHQDATE] [smalldatetime] NULL,
	[TXNAMT] [money] NOT NULL,
	[UID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEM]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM](
	[ITEMNAME] [varchar](50) NULL,
	[COLOR] [varchar](50) NULL,
	[QNTY] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PMASTER]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PMASTER](
	[PID] [char](2) NOT NULL,
	[PNAME] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RMASTER]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMASTER](
	[RID] [int] NOT NULL,
	[RNAME] [char](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UMASTER]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UMASTER](
	[UID] [int] NOT NULL,
	[UNAME] [varchar](30) NOT NULL,
	[DESGN] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AMASTER] ADD  DEFAULT ('O') FOR [STATUS]
GO
ALTER TABLE [dbo].[AMASTER]  WITH CHECK ADD FOREIGN KEY([BRID])
REFERENCES [dbo].[BRMASTER] ([BRID])
GO
ALTER TABLE [dbo].[BRMASTER]  WITH CHECK ADD FOREIGN KEY([RID])
REFERENCES [dbo].[RMASTER] ([RID])
GO
ALTER TABLE [dbo].[HIGH_TMASTER]  WITH CHECK ADD FOREIGN KEY([ACID])
REFERENCES [dbo].[AMASTER] ([ACID])
GO
ALTER TABLE [dbo].[HIGH_TMASTER]  WITH CHECK ADD FOREIGN KEY([BRID])
REFERENCES [dbo].[BRMASTER] ([BRID])
GO
ALTER TABLE [dbo].[HIGH_TMASTER]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[UMASTER] ([UID])
GO
ALTER TABLE [dbo].[TMASTER]  WITH CHECK ADD FOREIGN KEY([ACID])
REFERENCES [dbo].[AMASTER] ([ACID])
GO
ALTER TABLE [dbo].[TMASTER]  WITH CHECK ADD FOREIGN KEY([BRID])
REFERENCES [dbo].[BRMASTER] ([BRID])
GO
ALTER TABLE [dbo].[TMASTER]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[UMASTER] ([UID])
GO
ALTER TABLE [dbo].[AMASTER]  WITH CHECK ADD  CONSTRAINT [CK_AMASTER] CHECK  (([STATUS]='C' OR [STATUS]='I' OR [STATUS]='O'))
GO
ALTER TABLE [dbo].[AMASTER] CHECK CONSTRAINT [CK_AMASTER]
GO
ALTER TABLE [dbo].[HIGH_TMASTER]  WITH CHECK ADD  CONSTRAINT [CK_HIGH_TMASTER] CHECK  (([TXNTYPE]='CQD' OR [TXNTYPE]='CW' OR [TXNTYPE]='CD'))
GO
ALTER TABLE [dbo].[HIGH_TMASTER] CHECK CONSTRAINT [CK_HIGH_TMASTER]
GO
ALTER TABLE [dbo].[TMASTER]  WITH CHECK ADD  CONSTRAINT [CK_TMASTER] CHECK  (([TXNTYPE]='CQD' OR [TXNTYPE]='CW' OR [TXNTYPE]='CD'))
GO
ALTER TABLE [dbo].[TMASTER] CHECK CONSTRAINT [CK_TMASTER]
GO
ALTER TABLE [dbo].[UMASTER]  WITH CHECK ADD  CONSTRAINT [CK_UMASTER] CHECK  (([DESGN]='C' OR [DESGN]='T' OR [DESGN]='M'))
GO
ALTER TABLE [dbo].[UMASTER] CHECK CONSTRAINT [CK_UMASTER]
GO
/****** Object:  StoredProcedure [dbo].[getbal]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getbal]
(
@ACID INT = 101 ,
@BAL MONEY OUT
)
as 
begin
select @BAL = CBAL 
from AMASTER
where ACID = @acid
end
GO
/****** Object:  StoredProcedure [dbo].[RUNNING_BAL]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Step 1: 
--List the transactions corresponding to an account in the descending order

CREATE PROC [dbo].[RUNNING_BAL]
(
	@ACID	INT		
)
AS 
BEGIN

DECLARE	@TXNTYPE	CHAR(3),
		@TXNAMT		MONEY,
		@DOT		DATETIME,
		@CBAL		MONEY,
		@RUNBAL		MONEY

SELECT		@CBAL = CBAL
FROM		AMASTER
WHERE		ACID = @ACID

DECLARE CSRRUNBAL CURSOR SCROLL
FOR

SELECT		 TXNTYPE, 
			 TXNAMT,
			 DOT
FROM		TMASTER
WHERE		ACID = @ACID
ORDER BY	DOT DESC

OPEN CSRRUNBAL 
FETCH NEXT FROM CSRRUNBAL
INTO	@TXNTYPE, @TXNAMT, @DOT
WHILE @@FETCH_STATUS = 0

BEGIN
IF ( @TXNTYPE =  'CD')

SET @RUNBAL = @CBAL - @TXNAMT

ELSE 
IF ( @TXNTYPE =  'CW')
SET @RUNBAL = @CBAL + @TXNAMT

PRINT ' ' + @TXNTYPE + CAST(@TXNAMT AS VARCHAR(10)) +  CAST(@DOT AS VARCHAR(10))

FETCH NEXT FROM CSRRUNBAL
INTO	@TXNTYPE, @TXNAMT, @DOT
END

CLOSE CSRRUNBAL
DEALLOCATE CSRRUNBAL
END
GO
/****** Object:  StoredProcedure [dbo].[welcome]    Script Date: 21-12-2021 22:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  proc [dbo].[welcome]
as 
begin
 print 'welcome'
 end
GO
USE [master]
GO
